<br><br>
<!-- <p>© Stephan Musgrave 2014</p> -->

<!-- Ruby method to get current year-->
<!-- <p>© Stephan Musgrave <%= Time.now.year %></p> -->

<!-- JavaScript method to get current year-->
<div>© Stephan Musgrave  
  <div id="current_year"></div>
</div>
