<br>
<!-- <p>© Stephan Musgrave 2014</p> -->

<!-- Ruby method to get current year-->
<p>© Stephan Musgrave <%= Time.now.year %></p>

<!-- JavaScript method to get current year: needs manual pge refresh-->
<!-- <p>© Stephan Musgrave  
  <span id="current_year"></span>
</p> -->
