<br><br>
<!-- <p>© Stephan Musgrave 2014</p> -->

<!-- Ruby current year-->
<!-- <p>© Stephan Musgrave <%= Time.now.year %></p> -->

<!-- JavaScript current year-->
<p>© Stephan Musgrave 
  <a id="current_year"></a>
</p>
